<example04>
	<item name="animals" area="land" host="asia">
		<types>
			<type name="elephant" value="100" />
			<type name="bear" value="60" />
		</types>
	</item>
	<item name="people" area="water" host="africa">
		<types>
			<type name="surfer" value="200" />
			<type name="sailor" value="300" />
		</types>
	</item>
</example04>