<example05 activeBranch="[branch]">
	<toggles id="release">
		<toggle name="Search"  type="disabled"  />
		<toggle name="Sell"  type="disabled"  />
	</toggles>
	<toggles id="development">
		<toggle name="Search" type="disabled"  />
		<toggle name="Buy" type="enabled" fromDate="31-01-2015" />
	</toggles>
</example05>
