<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>		
		<!-- type = "full namespace path, assembly name" -->		
		
		<section name="myConfiguration" type="ConsoleApplication.Code.MyConfig.MyConfigSection, ConsoleApplication" />				
	
		<section name="RegisterCompanies" type="ConsoleApplication.Code.RegisterCompanies.RegisterCompaniesConfig, ConsoleApplication" />
	</configSections>

	
	<myConfiguration configSource="myConfiguration.config" />			
	
	<RegisterCompanies configSource="RegisterCompanies.config" />
	
	
</configuration>