<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>		
		<!-- type = "full namespace path, assembly name" -->		
		<section name="myConfiguration" type="ConsoleApplication.Code.MyConfig.MyConfigSection, ConsoleApplication" />				
		<section name="RegisterCompanies" type="ConsoleApplication.Code.RegisterCompanies.RegisterCompaniesConfig, ConsoleApplication" />				
	</configSections>

	<myConfiguration>
		<add name="name1" connectionName="conn1" fileDir="path1" baseUrl="baseUrl1" />
		<add name="name2" connectionName="conn2" fileDir="path2" baseUrl="baseUrl2" />
	</myConfiguration>	
	
	<!-- http://stackoverflow.com/questions/1316058/how-to-create-custom-config-section-in-app-config -->
	<RegisterCompanies>
		<Companies>
			<Company name="Tata Motors" code="Tata"/>
			<Company name="Honda Motors" code="Honda"/>
		</Companies>
	</RegisterCompanies>
	
</configuration>