<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>		
		<!-- type = "full namespace path, assembly name" -->		
		
		<section name="example01" type="ConsoleApplication.Code.Example01.CustomSection, ConsoleApplication" />				
	
		<section name="RegisterCompanies" type="ConsoleApplication.Code.RegisterCompanies.RegisterCompaniesConfig, ConsoleApplication" />
		
		<section name="SiteSettings" type="ConsoleApplication.Code.SiteSettings.SiteSection, ConsoleApplication" />
	</configSections>


	<example01 configSource="example01.config" />			
	
	<RegisterCompanies configSource="RegisterCompanies.config" />

	<SiteSettings configSource="SiteSettings.config" />
	
	
</configuration>