<SiteSettings>
	<site name="develop" smtp="smtp.develop.com" host="localhost">
		<mappings>
			<membership name="name1" column="column1" />
			<membership name="name2" column="column2" />
		</mappings>
	</site>
	<site name="production" smtp="smtp.production.com" host="production.com">
		<mappings>
			<membership name="name3" column="column3" />
			<membership name="name4" column="column4" />
		</mappings>
	</site>
</SiteSettings>